<h4>
  ANALYZE HISTORY
</h4>
<table *ngIf="historyExist">
   <tr class="headerRow">
      <th>Height, cm</th>
      <th>Weight, kg</th>
      <th>Age, years</th>
      <th>Weight Deviation, kg</th>
      <th>Weight Deviation, %</th>
   </tr>
   <tr *ngFor="let record of records" class="usualRow">
      <td>{{record.height}}</td>
      <td>{{record.weight}}</td>
      <td>{{record.age}}</td>
      <td>{{record.weightDeviation}}</td>
      <td>{{record.weightDeviationPercentage}}</td>
   </tr>
</table>
<div *ngIf="!historyExist">
   <p>History is empty.</p>
</div>

